


Create Or Alter View Hold.Gk_Booking_Cube_V_Sql
(
   Book_Date,
   Rev_Date,
   Book_Amt,
   Eventlength,
   List_Price,
   Rev_Year,
   Book_Year,
   Age,
   Ent_Count,
   Public_Enroll_Count,
   Public_Cancel_Count,
   Public_Guest_Count,
   Ops_Country,
   Course_Code,
   State,
   Cust_State,
   Sales_Rep,
   Ch_Num,
   Md_Num,
   Pl_Num,
   Country,
   Course_Ch,
   Course_Mod,
   Course_Pl,
   Course_Name,
   Acct_Name,
   Cust_Name,
   Rev_Month_Num,
   Rev_Week,
   Book_Month_Num,
   Book_Week,
   Enroll_Id,
   Event_Id,
   Cust_Id,
   Fee_Type,
   Enroll_Status,
   Event_Type,
   Facility_Region_Metro,
   Cust_Country,
   Cust_Zip,
   Rev_Month,
   Book_Month,
   Rev_Quarter,
   Book_Quarter
)
As
   Select   Cast(Book_Date As Date) Book_Date,
            Cast(Rev_Date As Date) Rev_Date,
            Book_Amt,
            Eventlength,
            List_Price,
            Rev_Year,
            Book_Year,
            Age,
            Ent_Count,
            Public_Enroll_Count,
            Public_Cancel_Count,
            Public_Guest_Count,
            Ops_Country,
            Course_Code,
            Bc.State,
            Cust_State,
            Sales_Rep,
            Ch_Num,
            Md_Num,
            Pl_Num,
            Bc.Country,
            Course_Ch,
            Course_Mod,
            Course_Pl,
            Course_Name,
            Bc.Acct_Name,
            Bc.Cust_Name,
            Rev_Month_Num,
            Rev_Week,
            Book_Month_Num,
            Book_Week,
            Enroll_Id,
            Event_Id,
            Bc.Cust_Id,
            Fee_Type,
            Enroll_Status,
            Event_Type,
            Facility_Region_Metro,
            Cust_Country,
            Substring(Bc.Cust_Zip, 1,  5) Cust_Zip,
            Rev_Month,
            Book_Month,
            Rev_Quarter,
            Book_Quarter
     From   Gkdw.Gk_Booking_Cube_Mv Bc
    Where       (Bc.Course_Ch = '10' Or Bc.Event_Type = 'Open Enrollment')
            And Bc.Country = 'Usa'
            And Bc.Cust_Country = 'Usa'
            And Bc.Rev_Date >= '01-Jan-2006'
            And Bc.Cust_Zip Not In ('Xxxx', 'Apo', 'Intl', 'Bangk', '00000');



