


Create Or Alter View Hold.Gk_Duns_Append_V
(
   Filler1,
   Duns_Number,
   Business_Name,
   Trade_Style,
   Trade_Style2,
   Address1,
   Address2,
   City,
   State_Abbr,
   Zip,
   Country,
   State,
   County,
   Filler2,
   Latitude10,
   Longitude11,
   Mail_Address1,
   Mail_Address2,
   Mail_City,
   Mail_State,
   Mail_Zip,
   Carrier_Route,
   Continent_Code,
   National_Code,
   State_Code,
   City_Code,
   County_Code,
   Smsa_Code,
   Econ_Area,
   Fips_Country_Code,
   Fips_State_Code,
   Fips_County_Code,
   Fips_Msa_Code,
   Latitude,
   Longitude,
   Geocode_Accuracy,
   Telephone,
   Country_Phone_Code,
   Cable_Telex_Number,
   Fax_Number,
   Ceo_Full_Name,
   Ceo_First_Name,
   Ceo_Middle_Initial,
   Ceo_Last_Name,
   Ceo_Suffix,
   Ceo_Prefix,
   Ceo_Title,
   Ceo_Mrc_Code,
   Ceo_Gender_Code,
   Sales_Volume,
   Sales_Volume_Code,
   Annual_Sales,
   Annual_Sales_Curr_Code,
   Currency_Code,
   Employees_Total,
   Employees_Total_Code,
   Employees_Here,
   Employees_Here_Code,
   Year_Started,
   Location_Type,
   Subsidiary_Ind,
   Manufacturing_Ind,
   Population_Code,
   Small_Business_Ind,
   Minority_Owned_Ind,
   Public_Private_Ind,
   Filler3,
   Site_Status,
   Legal_Status,
   Import_Export_Code,
   Owns_Rents,
   Square_Footage,
   Global_Ult_Duns_Number,
   Global_Ult_Business_Name,
   Global_Ult_Ind,
   Global_Ult_Fips_Country,
   Global_Ult_Country_Code,
   Global_Ult_State_Abbrev,
   Domestic_Ult_Duns_Number,
   Domestic_Ult_Business_Name,
   Domestic_Ult_Fips_Country,
   Domestic_Ult_Country_Code,
   Domestic_Ult_State_Abbr,
   Parent_Duns_Number,
   Hq_Duns_Number,
   Parent_Hq_Name,
   Parent_Hq_Fips_Country_Code,
   Parent_Hq_Country_Code,
   Parent_Hq_State,
   Hierarchy_Code,
   Dias_Code,
   Num_Of_Fam_Mem,
   Last_Update_Date,
   Major_Industry_Category,
   Line_Of_Business,
   Sic1,
   Sic2,
   Sic3,
   Sic4,
   Sic5,
   Sic6,
   National_Ident_Number,
   Prim_Local_Act_Code,
   Sign_Growth_Sales_3Yr,
   Pct_Growth_Sales_3Yr,
   Sign_Growth_Emp_3Yr,
   Pct_Growth_Emp_3Yr,
   Trend_Year_Sales_3Yr,
   Trend_Year_Emp_3Yr,
   Sign_Growth_Sales_5Yr,
   Pct_Growth_Sales_5Yr,
   Sign_Growth_Emp_5Yr,
   Pct_Growth_Emp_5Yr,
   Trend_Year_Sales_5Yr,
   Trend_Year_Emp_5Yr,
   Base_Year_Sales,
   Base_Year_Emp,
   Filler4,
   Filler5,
   Filler6,
   Filler7,
   Filler8,
   Filler9,
   Acct_Firm_Name,
   Filler10,
   Filler11,
   Filler12,
   Filler13,
   Filler14,
   Filler15,
   Filler16,
   Filler17,
   First_Exec_First_Name,
   First_Exec_Middle_Init,
   First_Exec_Last_Name,
   First_Exec_Suffix,
   First_Exec_Prefix,
   First_Exec_Title,
   First_Exec_Mrc,
   Sec_Exec_First_Name,
   Sec_Exec_Middle_Init,
   Sec_Exec_Last_Name,
   Sec_Exec_Suffix,
   Sec_Exec_Prefix,
   Sec_Exec_Title,
   Sec_Exec_Mrc,
   Thr_Exec_First_Name,
   Thr_Exec_Middle_Init,
   Thr_Exec_Last_Name,
   Thr_Exec_Suffix,
   Thr_Exec_Prefix,
   Thr_Exec_Title,
   Thr_Exec_Mrc,
   Filler18,
   Gk_Fill
)
As
   Select   Distinct [Filler1],
                     [Duns_Number],
                     [Business_Name],
                     [Trade_Style],
                     [Trade_Style2],
                     [Address1],
                     [Address2],
                     [City],
                     [State_Abbr],
                     [Zip],
                     [Country],
                     [State],
                     [County],
                     [Filler2],
                     [Latitude10],
                     [Longitude11],
                     [Mail_Address1],
                     [Mail_Address2],
                     [Mail_City],
                     [Mail_State],
                     [Mail_Zip],
                     [Carrier_Route],
                     [Continent_Code],
                     [National_Code],
                     [State_Code],
                     [City_Code],
                     [County_Code],
                     [Smsa_Code],
                     [Econ_Area],
                     [Fips_Country_Code],
                     [Fips_State_Code],
                     [Fips_County_Code],
                     [Fips_Msa_Code],
                     [Latitude],
                     [Longitude],
                     [Geocode_Accuracy],
                     [Telephone],
                     [Country_Phone_Code],
                     [Cable_Telex_Number],
                     [Fax_Number],
                     [Ceo_Full_Name],
                     [Ceo_First_Name],
                     [Ceo_Middle_Initial],
                     [Ceo_Last_Name],
                     [Ceo_Suffix],
                     [Ceo_Prefix],
                     [Ceo_Title],
                     [Ceo_Mrc_Code],
                     [Ceo_Gender_Code],
                     [Sales_Volume],
                     [Sales_Volume_Code],
                     [Annual_Sales],
                     [Annual_Sales_Curr_Code],
                     [Currency_Code],
                     [Employees_Total],
                     [Employees_Total_Code],
                     [Employees_Here],
                     [Employees_Here_Code],
                     [Year_Started],
                     [Location_Type],
                     [Subsidiary_Ind],
                     [Manufacturing_Ind],
                     [Population_Code],
                     [Small_Business_Ind],
                     [Minority_Owned_Ind],
                     [Public_Private_Ind],
                     [Filler3],
                     [Site_Status],
                     [Legal_Status],
                     [Import_Export_Code],
                     [Owns_Rents],
                     [Square_Footage],
                     [Global_Ult_Duns_Number],
                     [Global_Ult_Business_Name],
                     [Global_Ult_Ind],
                     [Global_Ult_Fips_Country],
                     [Global_Ult_Country_Code],
                     [Global_Ult_State_Abbrev],
                     [Domestic_Ult_Duns_Number],
                     [Domestic_Ult_Business_Name],
                     [Domestic_Ult_Fips_Country],
                     [Domestic_Ult_Country_Code],
                     [Domestic_Ult_State_Abbr],
                     [Parent_Duns_Number],
                     [Hq_Duns_Number],
                     [Parent_Hq_Name],
                     [Parent_Hq_Fips_Country_Code],
                     [Parent_Hq_Country_Code],
                     [Parent_Hq_State],
                     [Hierarchy_Code],
                     [Dias_Code],
                     [Num_Of_Fam_Mem],
                     [Last_Update_Date],
                     [Major_Industry_Category],
                     [Line_Of_Business],
                     [Sic1],
                     [Sic2],
                     [Sic3],
                     [Sic4],
                     [Sic5],
                     [Sic6],
                     [National_Ident_Number],
                     [Prim_Local_Act_Code],
                     [Sign_Growth_Sales_3Yr],
                     [Pct_Growth_Sales_3Yr],
                     [Sign_Growth_Emp_3Yr],
                     [Pct_Growth_Emp_3Yr],
                     [Trend_Year_Sales_3Yr],
                     [Trend_Year_Emp_3Yr],
                     [Sign_Growth_Sales_5Yr],
                     [Pct_Growth_Sales_5Yr],
                     [Sign_Growth_Emp_5Yr],
                     [Pct_Growth_Emp_5Yr],
                     [Trend_Year_Sales_5Yr],
                     [Trend_Year_Emp_5Yr],
                     [Base_Year_Sales],
                     [Base_Year_Emp],
                     [Filler4],
                     [Filler5],
                     [Filler6],
                     [Filler7],
                     [Filler8],
                     [Filler9],
                     [Acct_Firm_Name],
                     [Filler10],
                     [Filler11],
                     [Filler12],
                     [Filler13],
                     [Filler14],
                     [Filler15],
                     [Filler16],
                     [Filler17],
                     [First_Exec_First_Name],
                     [First_Exec_Middle_Init],
                     [First_Exec_Last_Name],
                     [First_Exec_Suffix],
                     [First_Exec_Prefix],
                     [First_Exec_Title],
                     [First_Exec_Mrc],
                     [Sec_Exec_First_Name],
                     [Sec_Exec_Middle_Init],
                     [Sec_Exec_Last_Name],
                     [Sec_Exec_Suffix],
                     [Sec_Exec_Prefix],
                     [Sec_Exec_Title],
                     [Sec_Exec_Mrc],
                     [Thr_Exec_First_Name],
                     [Thr_Exec_Middle_Init],
                     [Thr_Exec_Last_Name],
                     [Thr_Exec_Suffix],
                     [Thr_Exec_Prefix],
                     [Thr_Exec_Title],
                     [Thr_Exec_Mrc],
                     [Filler18],
                     [Gk_Fill]
     From   Gkdw.Gk_Duns_Append
    Where   Duns_Number != '000000000';



