


Create Or Alter View Hold.Evxevent_Slx
(
   Evxeventid,
   Createuser,
   Createdate,
   Modifyuser,
   Modifydate,
   Availenrollment,
   Comments,
   Coursecode,
   Currencytype,
   Currenrollment,
   Description,
   Enddate,
   Endtime,
   Eventcode,
   Eventname,
   Eventstatus,
   Eventtype,
   Evxparentid,
   Facilitycity,
   Facilityid,
   Facilityname,
   Facilityroom,
   Feeamount,
   Instructor,
   Instructorid,
   Maxenrollment,
   Meetingdays,
   Minenrollment,
   Presentedbyaccount,
   Presentedbyacctid,
   Productid,
   Productname,
   Startdate,
   Starttime,
   Waitenrollment,
   Evxcourseid,
   Evxcoursefeeid,
   Evxfacilitylocid,
   Feedescription,
   Deliverymethod,
   Spokenlanguage,
   Meetingdescription,
   Evxfacilityid,
   Facilitylocdesc,
   Slxeventid,
   Cancelledenrollment,
   Rescheduledenrollment,
   Pendingenrollment,
   Yearmonthsort,
   Yearquartersort,
   Region,
   Coursename,
   Allowenrollment,
   Urlonlinelink,
   Urlonlinedesc,
   Mgrcontactid,
   Mgrcontact,
   Mgraccountid,
   Mgraccount,
   Eduhours,
   Educredits,
   Facilityaccountid,
   Facilityaccount,
   Facilitycontactid,
   Facilitycontact,
   Facilityaddress1,
   Facilityaddress2,
   Facilityaddress3,
   Facilityaddress4,
   Facilitystate,
   Facilitypostal,
   Facilitycountry,
   Facilitycounty,
   Facilitymainphone,
   Eventhours,
   Facilityweburllink,
   Facilitymapurllink,
   Azsort,
   Slxeventcreatein,
   Slxeventcreateem,
   Slxeventidin,
   Slxeventidem,
   Transinenrollment,
   Transferoutenrollment,
   Attendedenrollment,
   Voidenrollment,
   Confirmedenrollment,
   Evxtimezoneid,
   Goalenrollment,
   Tzgenericname,
   Startenddatetext,
   Coursetype,
   Coursegroup,
   Eventlocationdesc,
   Onlineevent,
   Eventrectype,
   Fee1id,
   Fee2id,
   Fee1discount1id,
   Fee2discount1id,
   Fee1total,
   Fee2total,
   Evxprojectid,
   Facilityregionmetro,
   Allowtransferout,
   Allowtransferin,
   Permitenrollment,
   Permittransferin,
   Didnotattendenrollment,
   Fee1currencytype,
   Fee2currencytype,
   Coursenumber,
   Facilitycode,
   Coursecategory,
   Opportunityid,
   Evx_Rdescription,
   Opportunity,
   Canceldate,
   Cancelreason,
   Instoolstudattend,
   Jeopardyflag,
   Connected_Learning,
   Suppress_Conf_Letters
)
As
   Select   [Evxeventid] Evxeventid,
            [Createuser] Createuser,
            [Createdate] Createdate,
            [Modifyuser] Modifyuser,
            [Modifydate] Modifydate,
            [Availenrollment] Availenrollment,
            [Comments] Comments,
            [Coursecode] Coursecode,
            [Currencytype] Currencytype,
            [Currenrollment] Currenrollment,
            [Description] Description,
            [Enddate] Enddate,
            [Endtime] Endtime,
            [Eventcode] Eventcode,
            [Eventname] Eventname,
            [Eventstatus] Eventstatus,
            [Eventtype] Eventtype,
            [Evxparentid] Evxparentid,
            [Facilitycity] Facilitycity,
            [Facilityid] Facilityid,
            [Facilityname] Facilityname,
            [Facilityroom] Facilityroom,
            [Feeamount] Feeamount,
            [Instructor] Instructor,
            [Instructorid] Instructorid,
            [Maxenrollment] Maxenrollment,
            [Meetingdays] Meetingdays,
            [Minenrollment] Minenrollment,
            [Presentedbyaccount] Presentedbyaccount,
            [Presentedbyacctid] Presentedbyacctid,
            [Productid] Productid,
            [Productname] Productname,
            [Startdate] Startdate,
            [Starttime] Starttime,
            [Waitenrollment] Waitenrollment,
            [Evxcourseid] Evxcourseid,
            [Evxcoursefeeid] Evxcoursefeeid,
            [Evxfacilitylocid] Evxfacilitylocid,
            [Feedescription] Feedescription,
            [Deliverymethod] Deliverymethod,
            [Spokenlanguage] Spokenlanguage,
            [Meetingdescription] Meetingdescription,
            [Evxfacilityid] Evxfacilityid,
            [Facilitylocdesc] Facilitylocdesc,
            [Slxeventid] Slxeventid,
            [Cancelledenrollment] Cancelledenrollment,
            [Rescheduledenrollment] Rescheduledenrollment,
            [Pendingenrollment] Pendingenrollment,
            [Yearmonthsort] Yearmonthsort,
            [Yearquartersort] Yearquartersort,
            [Region] Region,
            [Coursename] Coursename,
            [Allowenrollment] Allowenrollment,
            [Urlonlinelink] Urlonlinelink,
            [Urlonlinedesc] Urlonlinedesc,
            [Mgrcontactid] Mgrcontactid,
            [Mgrcontact] Mgrcontact,
            [Mgraccountid] Mgraccountid,
            [Mgraccount] Mgraccount,
            [Eduhours] Eduhours,
            [Educredits] Educredits,
            [Facilityaccountid] Facilityaccountid,
            [Facilityaccount] Facilityaccount,
            [Facilitycontactid] Facilitycontactid,
            [Facilitycontact] Facilitycontact,
            [Facilityaddress1] Facilityaddress1,
            [Facilityaddress2] Facilityaddress2,
            [Facilityaddress3] Facilityaddress3,
            [Facilityaddress4] Facilityaddress4,
            [Facilitystate] Facilitystate,
            [Facilitypostal] Facilitypostal,
            [Facilitycountry] Facilitycountry,
            [Facilitycounty] Facilitycounty,
            [Facilitymainphone] Facilitymainphone,
            [Eventhours] Eventhours,
            [Facilityweburllink] Facilityweburllink,
            [Facilitymapurllink] Facilitymapurllink,
            [Azsort] Azsort,
            [Slxeventcreatein] Slxeventcreatein,
            [Slxeventcreateem] Slxeventcreateem,
            [Slxeventidin] Slxeventidin,
            [Slxeventidem] Slxeventidem,
            [Transinenrollment] Transinenrollment,
            [Transferoutenrollment] Transferoutenrollment,
            [Attendedenrollment] Attendedenrollment,
            [Voidenrollment] Voidenrollment,
            [Confirmedenrollment] Confirmedenrollment,
            [Evxtimezoneid] Evxtimezoneid,
            [Goalenrollment] Goalenrollment,
            [Tzgenericname] Tzgenericname,
            [Startenddatetext] Startenddatetext,
            [Coursetype] Coursetype,
            [Coursegroup] Coursegroup,
            [Eventlocationdesc] Eventlocationdesc,
            [Onlineevent] Onlineevent,
            [Eventrectype] Eventrectype,
            [Fee1id] Fee1id,
            [Fee2id] Fee2id,
            [Fee1discount1id] Fee1discount1id,
            [Fee2discount1id] Fee2discount1id,
            [Fee1total] Fee1total,
            [Fee2total] Fee2total,
            [Evxprojectid] Evxprojectid,
            [Facilityregionmetro] Facilityregionmetro,
            [Allowtransferout] Allowtransferout,
            [Allowtransferin] Allowtransferin,
            [Permitenrollment] Permitenrollment,
            [Permittransferin] Permittransferin,
            [Didnotattendenrollment] Didnotattendenrollment,
            [Fee1currencytype] Fee1currencytype,
            [Fee2currencytype] Fee2currencytype,
            [Coursenumber] Coursenumber,
            [Facilitycode] Facilitycode,
            [Coursecategory] Coursecategory,
            [Opportunityid] Opportunityid,
            [Evx_Rdescription] Evx_Rdescription,
            [Opportunity] Opportunity,
            [Canceldate] Canceldate,
            [Cancelreason] Cancelreason,
            [Instoolstudattend] Instoolstudattend,
            [Jeopardyflag] Jeopardyflag,
            [Connected_Learning] Connected_Learning,
            [Suppress_Conf_Letters] Suppress_Conf_Letters
     From   Base.Evxevent;



